{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/025_picture-47918.gif" alt="">
    <div>
        Страница не найдена! Шо делать!!!111 =О
    </div>
</div>

{% endblock %}