{% extends "__object.twig" %}
{% block objectContent %}
<p>Седан E-класса, задний и полный привод. Автомат и механика. Бензиновые и дизельные двигатели мощностью от 97 до 280 лошадиных сил.</p>
{% endblock %}  